/** Basic config file **/

configuration {
  modi: "run,ssh,window,drun";
  theme: "~/.config/rofi/Arc-Dark.rasi";
  font: "Mononoki Nerd Font 13";
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "Applications";
  drun-display-format: "{name}";
  disable-history: false;
  sidebar-mode: false;
  display-window: "Window Switcher";
}
